@charset "utf-8";

   


body {
font-family: "Noto Sans JP", "Arial","Meiryo",sans-serif;
font-size: 16px;
line-height: 1.5;
color:#333;
}
/*header*/
header{
    width: 100%;
    padding:15px 0;
    margin: auto;
    background-color: aquamarine;
    display: flex;
}

.headerline {
    padding: 0px 20px;
    
    
}

.PageList{
    display:flex;
    padding: 10px 20px;
    margin: auto 0;
}

.PageList-item {
    list-style: none;
    
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px;
    
}
.main{
    
}
.scrollable {
    width: 200px;
    height: 200px;
    overflow-x: hidden; /* 水平方向のスクロールバーを表示 */
    overflow-y: auto; /* 垂直方向のスクロールバーを非表示 */
}

.headline{
    margin: 0;
    padding: 0;
}
.itemElement-color{
    display: inline-block;
    padding: 0 2rem;
    font-weight: bold;
} 
.container{
    padding-left: 2rem;
}
.red{
    color: red;

}
.blue{
    color:rgb(0, 0,255)
}

.green{
    color:#00FF00;
}
.brack{
    color: rgba(0, 0, 0,);
}

.itemElement-backcolor{
    display: inline-block;
    padding: 2rem 2rem;
    font-weight: bold;
    margin: 0 15px;
    
    
} 

.gray{
    background-color: gray;
    
}
.violet{
    background-color: violet;
}
.orenge{
    background-color:rgb(241, 137, 52);
}